* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: slategray;
  color: white;
  min-height: 100vh;
  min-width: 100vw;
  transition: all 2s;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
}

a:active {
  color: red;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 15px;
}

.line-nav {
  border: 2px solid rgb(176, 176, 176);
  display: flex;
  width: 80px;
  transition: all 0.6s;
}

.line-nav.active {
  border: 2px solid white;
  transition: all 0.6s;
}

.forme {
  height: 70vh;
  width: 100vw;
  transition: 0.8s all ease-in-out;
}

.forme .row {
  height: 100%;
  width: 100%;
}

.error {
  color: rgb(135, 0, 27);
}

.home {
  width: 100vw;
  overflow: hidden;
  min-height: 70vh;
}

.close {
  margin-left: 120%;
  transition: all 0.8s ease-in-out;
}

.open {
  margin: 0%;
}

#wrap-notes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 90%;
  margin: auto auto;
  margin-top: 50px;
}

.note {
  padding:15px;
  margin-bottom: 50px;
  color: rgb(71, 70, 70);
  background-color: whitesmoke;
  font-size:80%;
  width: 250px;
  box-shadow: 5px 3px 5px 1px rgb(51, 50, 50);
  border-radius: 20px;
  height:fit-content;
}


#wrap-forme-home {
  position: fixed;
  inset: 0;
  top: 80px;
  z-index: 2;
  
}

.wrap-form {
  padding: 5px;
  padding-top: 10px;
  transition: all 1.2s;
  border-radius: 20px;
  
  
}
.wrap-title-note {
  width: 100%;
  border-bottom: 2px dotted grey;
  display:flex;
}

.wrap-form:hover {
  box-shadow: 0 0 15px 1px whitesmoke;
  background-color: slategray;
}

.btn-delete-note {
  cursor: pointer;
  user-select: none;
  font-size:14px;
  font-weight: bold;
  background-color: crimson;
  color:white;
  padding: 0 5px;
  padding-bottom: 1px;
  border-radius: 50%;
  transition: all 0.6s;
}

.btn-delete-note:hover{
  background-color: whitesmoke;
  color:red;
}

@media screen and (max-width: 992px) {
  .navbar-nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .nav-item {
    margin: 0;
    padding: 0;
  }
  .line-nav {
    border: none;
    display: initial;
    width: 0;
  }

  .line-nav.active {
    border: 0;
  }

  #wrap-notes {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px){
  #wrap-notes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .note {
    padding:15px;
    margin-bottom: 80px;
    color: rgb(71, 70, 70);
    background-color: whitesmoke;
    font-size:80%;
    width: 80%;
    box-shadow: 5px 3px 5px 1px rgb(51, 50, 50);
    min-height:100px;
    border-radius: 20px;
  }
}


@media screen and (max-width: 450px){
   
}