* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: slategray;
  color: white;
  min-height: 100vh;
  min-width: 100vw;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
}

a:active {
  color: red;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 15px;
}

.line-nav {
  border: 2px solid rgb(176, 176, 176);
  display: flex;
  width: 80px;
  transition: all 0.6s;
}

.line-nav.active {
  border: 2px solid white;
  transition: all 0.6s;
}

.forme {
  height: 70vh;
  width: 100vw;
  transition: 0.8s all ease-in-out;
}

.forme .row {
  height: 100%;
  width: 100%;
}

.error {
  color: rgb(135, 0, 27);
}

.home {
  width: 100vw;
  overflow: hidden;
  min-height: 70vh;
}

.close {
  margin-left: 100%;
  transition: all 0.8s ease-in-out;
}

.open {
  margin: 0%;
}

#wrap-notes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 90%;
  margin: auto auto;
  margin-top: 50px;
}

.note {
  padding: 8px;
  color: black;
  background-color: whitesmoke;
}

#wrap-forme-home {
  position: fixed;
  inset: 0;
  top: 80px;
  z-index: 2;
}

@media screen and (max-width: 992px) {
  .navbar-nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .nav-item {
    margin: 0;
    padding: 0;
  }
  .line-nav {
    border: none;
    display: initial;
    width: 0;
  }

  .line-nav.active {
    border: 0;
  }
}
